.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f0f2f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
}

mat-card-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.login-button {
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--primary-color) !important;
}

.forgot-password {
  display: block;
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
