<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
      <mat-card-subtitle>Accédez à votre compte de gestion</mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="exemple@mail.com">
        <mat-icon matSuffix>email</mat-icon>
        
        @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>L'email est requis</mat-error>
        }
        @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>Format d'email invalide</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>Le mot de passe est requis</mat-error>
        }
        @if (loginForm.get('password')?.hasError('minlength')){
          <mat-error>Minimum 8 caractères</mat-error>
        }
        @if (loginForm.get('password')?.hasError('pattern') && !(
          loginForm.get('password')?.hasError('required') || 
          loginForm.get('password')?.hasError('minlength')
        ) ){
          <mat-error>Doit contenir : 1 Majuscule, 1 Minuscule, 1 Chiffre et 1 Caractère spécial (@$!%*?&)</mat-error>
        }
      </mat-form-field>

      <button mat-raised-button 
              color="primary" 
              class="login-button" 
              type="submit" 
              [disabled]="loginForm.invalid">
        @if (!isLoading) {
          <span>SE CONNECTER</span>
        } @else {
          <div class="loading-content">
            <mat-icon class="spinner">autorenew</mat-icon>
            <span>CONNEXION...</span>
          </div>
        }
      </button>
    </form>

    <mat-card-footer>
      <a class="forgot-password">Mot de passe oublié ?</a>
    </mat-card-footer>
  </mat-card>
</div>