.container {
  width: 100%;
  color: #333;
}

.title {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 10vh;
  margin-bottom: 10px;
  background: var(--primary-color) !important;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Titre stylisé */
h2 {
  color: white;
  margin: 0 30px;
  border-left: 5px solid white; /* Bleu Angular Material */
  padding-left: 15px;
}

.main{
  margin: 10px 20px;
}

/* Header */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.badge {
  background: #e3f2fd;
  color: #1976d2;
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 0.8rem;
}

/* Layout Grid */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}

h3{
  font-size: 1.1rem;
  margin: 0;
}
.description{
  font-size: 0.9rem;
}

.spec-item{
  font-size: 0.9rem;
  padding: 4px 0;
}

/* Cards */
.details-card, .size-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.description {
  line-height: 1.6;
  color: #666;
}

/* Tailles et Couleurs */
.size-card {
  margin-bottom: 1rem;
}

.size-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.price {
  color: #27ae60;
}

.color-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 10px;
}

.color-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  background: #fafafa;
}

.color-thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.color-name {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
}

.stock-count {
  font-size: 0.75rem;
  color: #888;
}

.out-of-stock {
  background: var(--dorail-doux);
}

/* Buttons */
.btn-back {
  margin-top: 2rem;
  padding: 10px 25px;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-back:hover {
  background: none;
  border: 1.5px solid var(--accent-color);
  color: var(--accent-color);
}