.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Toute la hauteur de l'écran */
    padding: 20px;
    box-sizing: border-box;
    background: var(--primary-color);
}

.brand {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;

    h2{
      color: white;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}



.nav-item {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    height: 40px !important;
    background: var(--accent-color) !important;
    color: white !important;
    transition: 0.3s;
}
.nav-item mat-icon {
    margin-right: 15px;
}
.nav-item:hover {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1.5px solid white;
}

.footer {
    margin-top: auto; /* Pousse le footer tout en bas */
    padding-top: 20px;
}

.full-width {
    width: 100%;
    height: 45px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: var(--accent-color) !important;
    color: white !important;
}
.full-width:hover{
  background: var(--primary-color) !important;
  color: white !important;
  border: 1.5px solid white;
}