.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    position: relative;
}

.brand {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.nav-item {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    height: 48px !important;
}

.nav-item mat-icon {
    margin-right: 15px;
}

.active {
    background-color: #3f51b5 !important;
    color: white !important;
}

.full-width {
    position: absolute;
    bottom: 50px;
    width: 80%;
}