<div class="sidebar">
  <div class="brand">
    <h2>Babito Management</h2>
  </div>

  <nav class="menu-list">
    <button mat-button class="nav-item" (click)="goToTableauBord()">
      <mat-icon>dashboard</mat-icon> Dashboard
    </button>
    
    <!-- Gestion Produits -->
    <button mat-button class="nav-item" (click)="toggleProduits()">
      <mat-icon>inventory_2</mat-icon> Gestions Produits
    </button>
    <!--  Sub nav item produit-->
    @if (isShowedProduits) {
      <div class="sub-menu">
        <button mat-button class="sub-nav-item" (click)="goToProduitsDesponibles()">
          <mat-icon>check_circle</mat-icon> Produits Disponibles
        </button>

        <button mat-button class="sub-nav-item" (click)="goToProduitsEpuises()">
          <mat-icon>block</mat-icon> Produits épuisés
        </button>

        <button mat-button class="sub-nav-item" (click)="goToProduitsFaibles()">
          <mat-icon>report_problem</mat-icon> Produits faibles
        </button>

        <button mat-button class="sub-nav-item" (click)="goToAjoutProduit()">
          <mat-icon>add_circle_outline</mat-icon> Ajouter Produit
        </button>
      </div>
    }

    <!-- Gestion Livraisons -->
    <button mat-button class="nav-item desactive" >
      <mat-icon>local_shipping</mat-icon> Gestion Livraisons
    </button>

    <!-- Gestion Ventes -->
    <button mat-button class="nav-item desactive">
      <mat-icon>shopping_cart</mat-icon> Gestion Ventes
    </button>

    <!-- Gestion Finances -->
    <button mat-button class="nav-item desactive">
      <mat-icon>payments</mat-icon> Gestion Finances
    </button>

    <!-- Gestion RH -->
    <button mat-button class="nav-item" (click)="toggleRH()">
      <mat-icon>payments</mat-icon> Gestion RH
    </button>

    <!--  Sub nav item RH-->
    @if (isShowedRH) {
      <div class="sub-menu">
        <button mat-button class="sub-nav-item" (click)="goToListsAgents()">
          <mat-icon>people</mat-icon> Liste des Agents
        </button>
        <button mat-button class="sub-nav-item" (click)="goToAjout()">
          <mat-icon>person_add</mat-icon> Ajouter Agent
        </button>
      </div>
    }

  </nav>

  <div class="footer">
    <button mat-flat-button 
          color="primary" 
          (click)="goToProfile()" 
          class="full-width margin-bottom">
    <mat-icon>account_circle</mat-icon> 
    PROFIL
  </button>

  <button mat-flat-button 
          color="warn" 
          (click)="logout()" 
          class="full-width">
    <mat-icon>logout</mat-icon> 
    DÉCONNEXION
  </button>
  </div>
</div>