.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Toute la hauteur de l'écran */
    padding: 20px;
    box-sizing: border-box;
    background: var(--primary-color);
}

.brand {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;

    h2{
      color: white;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}


/* pour le nav-item */
.nav-item {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    height: 40px !important;
    background: var(--accent-color) !important;
    color: white !important;
    transition: 0.3s;
    border-radius: 0 !important;
    position:  relative !important;
}
.nav-item mat-icon {
    margin-right: 15px;
}
.nav-item:hover {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1.5px solid white;
}
.nav-item mat-icon:first-child {
    margin-right: 12px;
}
.nav-label {
    flex: 1; 
    text-align: left;
}

/* pour le sub-nav-item */
.sub-nav-item {
    width: calc(100% - 40px);
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    height: 35px !important;
    background: var(--accent-color) !important;
    color: white !important;
    transition: 0.3s;
    border-radius: 0 !important;
    border-bottom: 1.5px solid var(--primary-color);
    margin-left: 40px;
}
.sub-nav-item mat-icon {
    margin-right: 15px;
}
.sub-nav-item:hover {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1.5px solid white;
}

/* desactivation */
.desactive{
    background: gray !important;
    cursor: not-allowed;
}
.desactive:hover{
    cursor: not-allowed;
}

/* --- Gestion du Badge --- */

/* 2. Le conteneur span (ton point d'ancrage) */
.badge-sub-menu {
  /* display: inline-flex; */
  align-items: center;
  position: absolute; 
  top: 50%;  
  right: -20px;
  width: 40px;         
}

/* 3. Style du badge Angular Material (via ng-deep) */
::ng-deep .mat-badge-content {
  /* Centrage vertical absolu par rapport au span */
  top: 50% !important;
  
  /* Style visuel */
  font-size: 10px !important;
  font-weight: 600;
  height: 18px !important;
  width: 18px !important;
  line-height: 18px !important; /* Centre le chiffre dans le cercle */
}



/* pour le footer */
.footer {
    margin-top: auto; /* Pousse le footer tout en bas */
    padding-top: 20px;
}

.full-width {
    width: 100%;
    height: 45px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: var(--accent-color) !important;
    color: white !important;
}
.full-width:hover{
  background: var(--primary-color) !important;
  color: white !important;
  border: 1.5px solid white;
}