.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Toute la hauteur de l'écran */
    padding: 20px;
    box-sizing: border-box;
    background: var(--primary-color);
}

.brand {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;

    h2{
      color: white;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}


/* pour le nav-item */
.nav-item {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    height: 40px !important;
    background: var(--accent-color) !important;
    color: white !important;
    transition: 0.3s;
    border-radius: 0 !important;
    position:  relative !important;
}
.nav-item mat-icon {
    margin-right: 15px;
}
.nav-item:hover {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1.5px solid white;
}
.nav-item mat-icon:first-child {
    margin-right: 12px;
}
.nav-label {
    flex: 1; 
    text-align: left;
}

/* pour le sub-nav-item */
.sub-nav-item {
    width: calc(100% - 40px);
    display: flex !important;
    align-items: center;
    justify-content: flex-start !important;
    height: 35px !important;
    background: var(--accent-color) !important;
    color: white !important;
    transition: 0.3s;
    border-radius: 0 !important;
    border-bottom: 1.5px solid var(--primary-color);
    margin-left: 40px;
}
.sub-nav-item mat-icon {
    margin-right: 15px;
}
.sub-nav-item:hover {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1.5px solid white;
}

/* desactivation */
.desactive{
    background: gray !important;
    cursor: not-allowed;
}
.desactive:hover{
    cursor: not-allowed;
}

/* --- Gestion du Badge --- */

/* Conteneur des badges sur le bouton parent */
.parent-badges {
  display: flex !important;
  gap: 25px; 
  margin-left: 10px;
  position: relative;
}

/* On cible le cercle interne du badge */
::ng-deep .badge-sub-menu .mat-badge-content {
  width: 22px !important;   
  height: 22px !important;
  line-height: 22px !important; 
  font-size: 11px !important;   
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0 !important; 
}

/* Positionnement du span parent */
.badge-sub-menu {
  position: absolute;
  right: -10px; 
  top: 50%;
  transform: translateY(-50%);
}

/* Couleur pour Pending (Rouge Vif) */
::ng-deep .badge-pending .mat-badge-content {
  background: var(--warn-color) !important;
  color: white !important;
}

/* Couleur pour Processing (Bleu Royal ou Ambre) */
::ng-deep .badge-processing .mat-badge-content {
  background: var(--warning-orange) !important;
  color: white !important;
}

/* Positionnement pour éviter que le texte du bouton ne bouge */
.parent-button {
  display: flex !important;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}


/* pour le footer */
.footer {
    margin-top: auto; /* Pousse le footer tout en bas */
    padding-top: 20px;
}

.full-width {
    width: 100%;
    height: 45px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: var(--accent-color) !important;
    color: white !important;
}
.full-width:hover{
  background: var(--primary-color) !important;
  color: white !important;
  border: 1.5px solid white;
}