.app-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Empêche toute la page de défiler */
}

app-navbar {
    width: 20%;
    min-width: 200px; /* Sécurité pour les petits écrans */
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}

.content-area {
    width: 80%;
    height: 100%;
    padding: 25px;
    overflow-y: auto; /* Seul le tableau défile, pas la barre latérale */
    background-color: #ffffff;
}