<div class="container">
  <div class="title">
    <h2>Stocks Disponibles</h2>
  </div>

  <div class="main">
    @if (isLoading) {
      <app-loading></app-loading>
    } @else {
      @let products = (displayProducts$ | async);
      @if (products && products.length > 0) {
        
        <div class="table-container">
          <div class="table-inner-wrapper">
            
            <div class="table-header">
              <div class="col-code">Code Prod</div>
              <div class="col-nom">Nom</div>
              <div class="col-fourn">Fournisseur</div>
              <div class="col-region">Région</div>
              <div class="col-class">Classement</div>
              <div class="col-cat">Catégorie</div>
              <div class="col-type">Type</div>
              <div class="col-date">Ajout</div>
            </div>

            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
              <div *cdkVirtualFor="let p of products" 
                   class="table-row" 
                   (click)="onRowClick(p)">
                <div class="col-code">{{ p.codeProduit }}</div>
                <div class="col-nom bold">{{ p.nom }}</div>
                <div class="col-fourn">{{ p.codeFournisseur }}</div>
                <div class="col-region">{{ p.region }}</div>
                <div class="col-class">{{ p.classement }}</div>
                <div class="col-cat">{{ p.categorie }}</div>
                <div class="col-type">{{ p.type }}</div>
                <div class="col-date">{{ p.createdAt | date:'dd/MM/yyyy' }}</div>
              </div>
            </cdk-virtual-scroll-viewport>

          </div>
        </div>

      } @else {
        <div class="empty-state"><p>Aucun produit trouvé</p></div>
      }
    }
  </div>
</div>