.container {
  width: 100%;
  margin: 0 auto;
}

.header  {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 10vh;
  margin-bottom: 10px;
  background: var(--primary-color) !important;
  width: 100%;
  display: flex;
  align-items: center;

  h2{
    color: white;
    margin: 0 30px;
    border-left: 5px solid white; /* Bleu Angular Material */
    padding-left: 15px;
  }
}

.main{
  margin: 10px 20px;
}

.table-wrapper {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.rupture-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.badge-taille {
  background: var(--dorail-doux);
  color: var(--warn-color);
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.btn-manage {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-manage:hover{
  background: var(--accent-color);
}

.empty-message {
  margin-top: 50px;
  text-align: center;
  padding: 40px;
  background: #e8f5e9;
  color: #2e7d32;
  border-radius: 8px;
  font-weight: 500;
}