.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Style des entêtes */
th.mat-mdc-header-cell {
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  padding: 12px !important;
  border-bottom: 2px solid #000 !important;
  text-transform: uppercase;
  font-size: 12px;
}

/* Style des cellules */
td.mat-mdc-cell {
  padding: 12px !important;
  border-bottom: 1px solid #eee !important;
  font-size: 14px;
}

/* Effet au survol de la ligne */
tr.mat-mdc-row:hover {
  background-color: #f9f9f9;
}