.table-container {
  width: 100%;
  overflow-x: auto; /* Permet le défilement horizontal si trop de colonnes */
  max-height: 80vh; /* Scroll vertical si trop de produits */
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
  white-space: nowrap;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  padding: 0 8px !important;
}

/* Gestion du découpage Couleur/Quantité */
.cell-split {
  padding: 0 !important;
}

.sub-row {
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 30px;
  display: flex;
  align-items: center;
}

.sub-row:last-child {
  border-bottom: none;
}

.text-right {
  justify-content: flex-end;
  text-align: right;
}