.table-container {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.viewport {
  height: 85vh; /* Hauteur du scroll */
  width: 100%;

  /* Masquer la barre sur Firefox */
  scrollbar-width: none; 
  
  /* Masquer la barre sur Internet Explorer et Edge */
  -ms-overflow-style: none;
}
/* Masquer la barre sur Chrome, Safari et Opera (Webkit) */
.viewport::-webkit-scrollbar {
  display: none;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Très important pour la performance */
}

/* Style de l'entête collant */
thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f8f9fa;
}

th {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 2px solid #dee2e6;
  color: #495057;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

/* Style des lignes */
.table-row {
  height: 50px; /* Doit être égal à itemSize */
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
  cursor: pointer;
}

.table-row:hover td{
  background-color: var(--primary-color);
  color: white;
}

td {
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis; /* Coupe le texte trop long */
  white-space: nowrap;
}

.bold {
  font-weight: 500;
  color: #000;
}