<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="produits">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let p"> {{p.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let p"> {{p.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="taille">
      <th mat-header-cell *matHeaderCellDef> Taille </th>
      <td mat-cell *matCellDef="let p" class="cell-nested">
        <div *ngFor="let t of getTailles(p)" class="taille-block">
          {{t}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="couleur">
      <th mat-header-cell *matHeaderCellDef> Couleur </th>
      <td mat-cell *matCellDef="let p" class="cell-nested">
        <div *ngFor="let t of getTailles(p)" class="taille-block">
          <div *ngFor="let c of p.taille[t].couleurs" class="sub-row">
            <img [src]="c.image" class="thumb-img" *ngIf="c.image">
            {{c.nom}}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantite">
      <th mat-header-cell *matHeaderCellDef> Qté </th>
      <td mat-cell *matCellDef="let p" class="cell-nested">
        <div *ngFor="let t of getTailles(p)" class="taille-block">
          <div *ngFor="let c of p.taille[t].couleurs" class="sub-row text-center">
            {{c.stock}}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef> Prix </th>
      <td mat-cell *matCellDef="let p" class="cell-nested">
        <div *ngFor="let t of getTailles(p)" class="taille-block text-right">
          {{ p.taille[t].prix | number:'1.2-2' }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="devise">
      <th mat-header-cell *matHeaderCellDef> Devise </th>
      <td mat-cell *matCellDef="let p"> {{p.devise}} </td>
    </ng-container>

    <ng-container matColumnDef="codeProduit">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let p"> {{p.codeProduit}} </td>
    </ng-container>

    <ng-container matColumnDef="codeFournisseur">
      <th mat-header-cell *matHeaderCellDef> Fournisseur </th>
      <td mat-cell *matCellDef="let p"> {{p.codeFournisseur}} </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> Région </th>
      <td mat-cell *matCellDef="let p"> {{p.region}} </td>
    </ng-container>

    <ng-container matColumnDef="classement">
      <th mat-header-cell *matHeaderCellDef> Classement </th>
      <td mat-cell *matCellDef="let p"> {{p.classement}} </td>
    </ng-container>

    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef> Catégorie </th>
      <td mat-cell *matCellDef="let p"> {{p.categorie}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let p"> {{p.type}} </td>
    </ng-container>

    <ng-container matColumnDef="dateAjout">
      <th mat-header-cell *matHeaderCellDef> Ajout </th>
      <td mat-cell *matCellDef="let p"> {{p.dateAjout | date:'dd/MM/yy'}} </td>
    </ng-container>

    <ng-container matColumnDef="dateModification">
      <th mat-header-cell *matHeaderCellDef> Modif </th>
      <td mat-cell *matCellDef="let p"> {{p.dateModification | date:'dd/MM/yy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>