<div class="container">
  <div class="title">
    <h2><mat-icon>payments</mat-icon> Ventes livrées </h2>
  </div>

  <div class="main-content">
    @if (ventes$ | async; as list) {
      @if (list.length > 0) {
        <app-vente-table [ventes]="list"></app-vente-table>
      } @else {
        <div class="empty-state">
          <mat-icon>inventory_2</mat-icon>
          <h3>Aucune vente livrée</h3>
          <p>Il n'y a actuellement aucune commande dans cette catégorie.</p>
        </div>
      }
    } @else {
      <div class="loading-state">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Chargement des paiements reçus...</p>
      </div>
    }
  </div>
</div>