.table-wrapper {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f8f9fa;
  padding: 15px;
  text-align: left;
  font-weight: 600;
  color: #444;
}

tr{
  cursor: pointer;
  transition: 0.3s;
}
tr:hover {
  background: var(--primary-color);
  color: white;
}

td {
  padding: 12px 15px;
  border-top: 1px solid #eee;
  vertical-align: middle;
}

.user-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-cell img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.badge {
  background: #e3f2fd;
  color: #1976d2;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.status-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d4f; /* Banni */
  margin-right: 5px;
}

.status-dot.active {
  background: #52c41a; /* Actif */
}


button {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.ban-btn { background: #fff1f0; color: var(--warn-color); }
.ban-btn:hover { background: var(--warn-color); color: #fff; }

.delete-btn { background: none; font-size: 1.1rem; }

.empty-msg { text-align: center; padding: 40px; color: #888; }